<aside class="col-md-3 p-3">
  <div class="border rounded mx-auto p-3 overflow-auto tag-list-container">
    <p class="fw-bold fs-5 mb-3 tag-list-title">タグ一覧</p>
    <div class="d-flex flex-wrap gap-2">
      <% Tag.order_by_popularity.each do |tag| %>
        <% link = base_link.present? ? url_with_query(base_link, "tag_id", tag.id) : tag_path(tag) %>
        <%= link_to tag.name, link, class: "tag-badge" %>
      <% end %>
    </div>
  </div>
</aside>

